body {background-color: #FFF; color: #000; margin: 0px; padding: 0px;}
h2 {
background-color: #555500;
color: #FFF;
margin: 5px;
padding: 5px;
}
ul {
background-color: #FFF;
color: #000;}
li {color: #555;}
